<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>822613567996-akcdnfekn6kjkfqluo6qj90cabm4hche.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822613567996-akcdnfekn6kjkfqluo6qj90cabm4hche</string>
	<key>API_KEY</key>
	<string>AIzaSyDtl_vxjR4z1ZOLvfn23QjBs9CBq-A_2xE</string>
	<key>GCM_SENDER_ID</key>
	<string>822613567996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udrive</string>
	<key>PROJECT_ID</key>
	<string>ubercommand-4fea4</string>
	<key>STORAGE_BUCKET</key>
	<string>ubercommand-4fea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822613567996:ios:6e428447255ff4e8</string>
	<key>DATABASE_URL</key>
	<string>https://ubercommand-4fea4.firebaseio.com</string>
</dict>
</plist>